<% if items.empty? or items.nil? %>
  <li class="empty">No products in the cart.</li>
<% else %> 
<script type="text/javascript">
  $('.mini_cart_item').on('click','.remove',function(){
      item = $(this).attr('id');
      url = '/orders/remove_item';
      quantity = 1;
      $.post( url, {
        item: item
    }
    );
        $(this).parent().remove();
  });
</script> 
  <% items.each do |item|%>
    <li class="mini_cart_item">
      <a title="Remove this item" class="remove" href="#" data-remote="true" id="delete_<%=dom_id(item)%>">×</a>
      <%= link_to product_url(item.product) do %>
        <%= small_image(item.product, itemprop: "image", :class =>"attachment-shop_thumbnail size-shop_thumbnail wp-post-image") %><%= item.product.name %>&nbsp;
      <% end %>
      <span class="quantity"><%= item.quantity %> × <span class="amount"><%=  display_hum_price(item.price)%> руб.</span></span>
    </li>
  <% end %>
<% end %>
