 <section class="products-carousel-tabs animate-in-view fadeIn animated sidebar-item" data-animation="fadeIn" data-hook>
    <header>
        <h2 class="h1">Best Sellers</h2>
    </header>
   <!--  <ul class="nav nav-inline">
        <li class="nav-item">
             <a class="nav-link active" href="#tab-products-1" data-toggle="tab">Featured Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-products-2" data-toggle="tab">On Sale</a>
        </li> 
    </ul> -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab-products-1" role="tabpanel">
            <section class="section-products-carousel" >
                <div class="home-v2-owl-carousel-tabs">
                    <div class="woocommerce columns-3">
                        <div class="products owl-carousel home-v2-carousel-tabs products-carousel columns-3">
                            <%Spree::Product.last(12).each do |product|%>
                                <div class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=product.taxons.first.name %></a></span>
                                            <a href="single-product.html">
                                            <%= link_to product_url(product) do %>
                                                <h3><%= product.name%></h3>
                                                <div class="product-thumbnail">
                                                    <%= product_image(product, :class => "img-responsive"   )%>
                                                </div>
                                            <% end %>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> <%= display_price(product)%> руб.</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="#" class="button add_to_cart_button">Add to cart</a>
                                            </div>
                                            <!-- <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>