 <section class="products-carousel-tabs animate-in-view fadeIn animated sidebar-item" data-animation="fadeIn" data-hook>
    <header>
        <h2 class="h1">Хиты продаж</h2>
    </header>
   <!--  <ul class="nav nav-inline">
        <li class="nav-item">
             <a class="nav-link active" href="#tab-products-1" data-toggle="tab">Featured Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-products-2" data-toggle="tab">On Sale</a>
        </li> 
    </ul> -->
    <% if products.any? %>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-products-1" role="tabpanel">
                <ul class="products columns-3">
                    <% products.each do |product|%>
                        <% url = spree.product_path(product) %>
                        <li class="product " id="product_<%= product.id %>" itemtype="https://schema.org/Product">
                            <div class="product-outer" style="height: 391px;">
                                <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
                                    <div class="product-inner">
                                        <span class="loop-product-categories">
                                            <%= link_to product.taxons.first.name, seo_url(product.taxons.first) unless product.taxons.empty?%>   
                                        </span>
                                        <%= link_to url do %>
                                            <h3><%= product.name%></h3>
                                            <div class="product-thumbnail">
                                                <%= product_image(product, itemprop: "image", :style => "display: block; margin: 0 auto;") %>
                                            </div>
                                        <% end %>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <span class="amount"><%= display_price(product) %></span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" data-link="link_to-<%= product.master.id %>" class="button add_to_cart_button" data-remote="true" style="cursor: pointer"><%= Spree.t(:add_to_cart)%>
                                            </a>
                                        </div>
                                        <div class="hover-area">
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</section>
         <!-- <div class="product " id="product_<%#= product.id %>" itemtype="https://schema.org/Product">
                                        <div class="product-outer" >
                                            <div class="product-inner">
                                                <span class="loop-product-categories">
                                                    <%#= link_to product.taxons.first.name, seo_url(product.taxons.first)%>   
                                                </span>
                                                <%#= link_to product_url(product) do %>
                                                    <h3><%#= product.name%></h3>
                                                    <div class="product-thumbnail">
                                                        <%#= product_image(product, :class => "img-responsive", :style => "display: block; margin: 0 auto;")%>
                                                    </div>
                                                <% #end %>
                                                <div class="price-add-to-cart">
                                                    <span class="price">
                                                      <span class="electro-price">
                                                        <span class="amount"><%#= display_price(product) %></span>
                                                      </span>
                                                    </span>
                                                    <a rel="nofollow" data-link="link_to-<%#= product.master.id %>" class="button add_to_cart_button" href="" data-remote="true"><%#= Spree.t(:add_to_cart)%></a>
                                                </div>
                                                <div class="hover-area">
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->