<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
<%= filters.size%>
  <%= form_tag '', method: :get, id: 'sidebar_products_search' do %>
    <%= hidden_field_tag 'per_page', params[:per_page] %>
    <% filters.each do |filter| %>
        <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
        <% next if labels.empty? %>
        <aside class="widget woocommerce widget_layered_nav ">
        <div class="navigation" data-hook="navigation">
          <h3 class="widget-title"> <%= filter[:name] %> </h3>
          <ul >
            <% labels.each do |nm,val| %>
              <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
              <li>
                <input type="checkbox"
                       id="<%= label %>"
                       name="search[<%= filter[:scope].to_s %>][]"
                       value="<%= val %>"
                       <%= params[:search].present? && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
                <label  for="<%= label %>"> <%= nm %> </label>
              </li>
            <% end %>
          </ul>
        </div>
        </aside>
    <% end %>
    <%= submit_tag Spree.t(:search), name: nil, class: 'button' %>
  <% end %>
<% end %>

